.pageTitleWrapper{
  height: 75px;
  background: transparent url('/img/pagePattern.png') 0% 0% repeat padding-box;
  display: flex;
  align-items: center;
  h1{
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
  }
}

@media (--p){
  .pageTitleWrapper{
    h1{
      text-align: center;
      font-weight: 400;
    }
  }
}